.Pagina {
  height: 100%;
}

.Page-inferior {
  padding: 0 100px;
}

.ImagemFundo {
  background-image: url("./ImagemFundo.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  max-height: 80rm;
  vertical-align: middle;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
  min-height: 500px;
}

.Subtitle {
  font-size: 28px;
  color: #e6e0e0;
  filter: drop-shadow(5px 5px 5px #222);
}

.TituloHome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 30px;
  color: white;
  filter: drop-shadow(5px 5px 5px #222);
}

.About-us {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.About-title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
  color: #212529;
  align-items: center;
}

.About-text {
  font-family: "Inter";
  font-size: 15px;
  margin-bottom: 15px;
  color: #6c757d;
}
