.Pagina {
  height: 100%;
}
.Foto {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Foto img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.Home {
  display: flex;
  height: 100%;
}

.Links {
  height: 100%;
  padding: 60px 0 0 60px;
  color: white;
}

.About {
  padding-left: 72px;
  padding-right: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}

.Titulo {
  padding-left: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.left-home {
  width: 20%;
  position: relative;
  height: 100%;
  background-color: gray;
}

.Right-home {
  width: 80%;
  padding-top: 50px;
  height: 100%;
}

.item {
  margin-right: 1em;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;

  color: white;
}

.item:hover {
  color: #c6001a;
  text-decoration: underline;
}
