.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #212529;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.item {
  margin-right: 1em;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;

  color: white;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: #c6001a;
  text-decoration: underline;
}

.logo {
  max-height: 50px;
}
